md-content(layout-padding)
    div: form(ng-controller="ContactController as contact" ng-submit="contact.submit()" name="contactForm")
        p If you want to get in contact with us, please fill the following form:
        div(layout-gt-sm="row")
            md-input-container(class="md-block" flex-gt-sm)
                label Name
                input(ng-model="contact.name" required)
            md-input-container(class="md-block" flex-gt-sm)
                label Email
                input(ng-model="contact.email" type="email" required)
        div(layout="row")
            md-input-container(class="md-block" flex)
                label Message
                textarea(ng-model="contact.message" required)
        div(layout="row" layout-align="center center")
            md-button(type="submit" class="md-raised md-primary" aria-label="Send") Send
