md-content(layout-padding)
    div: form(ng-controller="ContactController" ng-submit="submit()" name="contactForm")
        p If you want to get in contact with us, please fill the following form:
        div(layout-gt-sm="row")
            md-input-container(class="md-block" flex-gt-sm)
                label Name
                input(ng-model="name" required)
            md-input-container(class="md-block" flex-gt-sm)
                label Email
                input(type="email" ng-model="email" required)
        div(layout="row")
            md-input-container(class="md-block" flex)
                label Message
                textarea(ng-model="message" required)
        div(layout="row" layout-align="center center")
            md-input-container(class="md-block")
                md-button(type="submit" class="md-raised md-primary" aria-label="Send") Send
