.btn {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: white;
}

.btn:not([disabled]):hover {
    background-color: bisque;
}

.btn-text {
    color: brown;
}

.search-field {
    color: brown;
}

.film-data {
    margin: 2%;
}

.film-poster {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 2%;
}
