md-content(ng-controller="MainController as main" layout-padding)

    div: form(ng-submit="main.updateFilm()" name="searchForm")
        div(layout="row" layout-align="center center")
            md-input-container(class="md-block")
                label Film title
                input(ng-model="main.film" required)
            md-input-container(class="md-block search-button")
                md-button(type="submit" class="md-icon-button md-raised md-primary" aria-label="Search")
                    md-icon(class="material-icons" alt="search") search

    md-card(ng-show="main.response" class="md-block" layout-gt-sm="row")
        div(layout="row" layout-align="center center")
            a(class="film-poster" target="_blank" href="http://www.imdb.com/title/{{result.imdbID}}/"): img(src="{{main.result.Poster}}" alt="{{main.result.title}}_poster")
        div(layout="row" class="film-data")
            div(layout="column")
                div(layout="row" layout-align="space-around center")
                    span(class="md-headline"): h3 {{main.result.Title}}
                    span(class="md-subhead"): h3 {{main.result.imdbRating}}
                div
                    span: strong Year
                    br
                    span {{main.result.Year}}
                div
                    span: strong Rated
                    br
                    span {{main.result.Rated}}
                div
                    span: strong Runtime
                    br
                    span {{main.result.Runtime}}
                div
                    span: strong Genre
                    br
                    span {{main.result.Genre}}
                div
                    span: strong Director
                    br
                    span {{main.result.Director}}
                div
                    span: strong Writer
                    br
                    span {{main.result.Writer}}
                div
                    span: strong Actors
                    br
                    span {{main.result.Actors}}
                div
                    span: strong Plot
                    br
                    span {{main.result.Plot}}
                div
                    span: strong Language
                    br
                    span {{main.result.Language}}
                div
                    span: strong Country
                    br
                    span {{main.result.Country}}
                div
                    span: strong Awards
                    br
                    span {{main.result.Awards}}

    div(layout="row" layout-sm="column" ng-hide="main.response")
        span No results found!


