.film-data {
    margin: 2%;
}

.film-poster {
    max-width: 100%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4px;
    padding: 5px;
    transition: 0.5s;
    border: 2px solid red;
}

.film-poster:hover {
    box-shadow: 0 0 5px 2px black;
}

.search-button {
    padding-bottom: 20px;
}
